/*$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';*/

$brand-primary: #17AEFF;

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";


/* Take into account navbar height */
body {
  padding-top: $navbar-height;
}

section {
  margin-top: 20px;
}

/* Page footer */
footer {
  margin-top: 20px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm-min) {
  /*
  .container {
    max-width: 730px;
  }
  */
}


/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: $screen-md-min) {

}


/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: $screen-lg-min) {

}
